compress = deflate
export = visible
mindiff = 0.01
exceptionprotection = true
sprite = false
sounds = false
all_sounds = false
attrib = false
animation = true
force_animation = true
geometry = false
skeleton = true
material = false
rtt = false
rtt_target = true
atf = false
atf_auto = true
atf_force = false
atf_jpegxr = false
atf_compress = dxt
materialcolor = true
texture = true
compress_texture = true
textureanimationtakes = true
camera = false
cameratarget = false
light = false
lighttarget = false
shape = false
dummy = false
multiplechannel = true
uv = true
normal = true
tangent = false
sg = true
vertexcolor = false
env = false
morph = true
lossygeometry = 1
vertexanimation = true
warning = false
auto_rename = true
positive_scale = true
parent = true
bindoffset = true
snapshot = false
instanceanimation = true
bindframe = 0
splinestep = 100
animationtype = 2
envtex = false
instances = true
sharematerials = false
allstatic = false
baketextures = true
renderall = false
bakesize = 8
minbakesize = 8
bakequality = 80
bakeext = .png
bakeoutput = completemap
relativesize = false
meshoptimizer = false
joinvertices = false
forcelights = false
fileinfo = false
fileinfo-name = 
fileinfo-author = 
fileinfo-website = http://
fog = false
fog-min = 100
fog-max = 6000
fog-color = 0 0 255
spline = false
envmap = false
newmapping = false
